/*     Font defaults     */
$font-size: 16; // Your base font-size in pixels
$line: 1.5; // default line-height
$em: $font-size * 1em; // Shorthand for outputting ems, e.g. "12/$em"

/*     Brand colors     */
$blue: #3698D8;
$blue-dark: #1f6ea2;
$blue-light: #EFF4F7;
$white: #fffffe;
$black: #000000;
$gray: #333333;
$gray-dark: #292929;

/*     Link colors     */
$link: $blue;
$link-hover: $blue-dark;
$link-visited: $gray;
