// Base styles
$columns: 12;
$gutter: 40px;

.wrapper {
  @extend %cf;
  width: 100%;
  max-width: 35.5em;
  margin: 0 auto;
  padding: 20px 0;
  @include mq(s) {
    max-width: 48em;
  }
  @include mq(m) {
    max-width: 60em;
  }
  @include mq(l) {
    max-width: 66em;
  }
}
.wrapper + .wrapper {
  padding-top: 0;
  margin-top: ($gutter/2)*-1;
}
.wrapper .wrapper {
  margin-left: ($gutter/2)*-1;
  margin-right: ($gutter/2)*-1;
}

// Default mobile container
%mob-cont {
  @include cols(12);
  text-align: left;
}

html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font: 100%/1.5 "Helvetica Neue", Arial, sans-serif;
  margin: 0 auto;
  min-height: 100%;
  overflow-x: hidden;
}
// Fluid images
img, object {
  height: auto;
  max-width: 100%;
  _width: 100%;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-out;
  &:visited {
  }
  &:hover {
  }
  &:active {
  }
}
