/*     Font defaults     */
$font-size: 16; // Your base font-size in pixels
$line: 1.5; // default line-height
$em: $font-size * 1em; // Shorthand for outputting ems, e.g. "12/$em"

/*     Brand colors     */

/*     Link colors     */
