---
title: Katie's Boilerplate
---

%article.main__content
  %h1 Page Title
  %p Adipisicing consequatur quae aut ea soluta, quasi in a nostrum culpa! Obcaecati deserunt minima suscipit consectetur ut quibusdam. Voluptatem odio ratione et doloremque excepturi vel illum. Commodi aliquid libero consequuntur?
  %p
    = image_tag "katie-harron-logo_sq.jpg"

  %h2 Page Heading
  %p Sit libero iure quaerat aliquam modi! Vero sed ducimus dolorem harum eius et adipisci. Cupiditate autem nisi nobis tempore provident! Quae provident a voluptas cum laboriosam ut totam? Reprehenderit a.
  %ul
    %li Item 1
    %li Item 2
    %li Item 3
  %p Consectetur quas tenetur temporibus atque delectus. Amet eos ab nisi repellat doloribus saepe illo a facere cumque minima! Omnis delectus quasi natus sunt repudiandae animi. Maxime odio delectus modi asperiores.

%aside.main__related(role="complementary")
  %h2 Related Content
  %p Amet est reiciendis laboriosam nemo incidunt tempore ipsam numquam molestiae tempore illum quod? Ea laborum sapiente dicta quaerat provident! Atque pariatur suscipit provident harum ullam! Maxime beatae deserunt atque aut!
